@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HikingTracker!</h1>
    
    <div class="container-fluid">
        <div class="row">
            <img src="~/images/trail_image.jpg" class="img-fluid" alt="Hiking Trail" id="trailImage">
        </div>
        <p>HikingTracker is the premier website for finding great <a href="../Trails">hiking trails.</a> You can even add your own hiking trails for other <a href="../Trails">users</a> to check out! So what are you waiting for? Go out there and do some hiking!</p>
    </div>
   
</div>
